{% extends 'blog/base.html' %}

{% block content %}

{% load static %}

<img src="{% static 'mountain_view.jpg' %}" alt="Mountain View" style="width: 100%; float: left; margin-right: 10px; margin-bottom: 20px">

<h1>About the blog</h1>
<p>This blog is about immigration. Mostly I am writing about my experience of being an immigrant. But I also want to share stories of other immigrants and interesting insights about immigration. If you would like me to share your story on this blog, let me know.</p>
<br>
<h2>Who am I?</h2>
<p>I can describe myself in many ways. One of them is being an immigrant. I was born and raised in Poland. When I was 18, I went to Germany where I spent 5 years. After that I came to the UK - the place I call home now.</p>
{% endblock %}