{% load static %}
<html>
    <head>
        <title>Proud Immigrant Blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    </head>
    <body>
    <div class="page-header">
        {% if user.is_authenticated %}
            <Fa href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus text-success"></span></Fa>
        {% endif %}
        <h1><a href="/">Proud Immigrant</a></h1>
        <div class = "menu-main_menu-container" id = myMenu>
            <div class = "menu-links" id = myLinks >
                 <ul id="menu-main_menu-1" class="menu">
                    <li> <a href="{% url 'post_list' %}">home</a></li>
                    <li> <a href="{% url 'about_me' %}">about the blog</a></li>
                    <li> <a href="{% url 'contact' %}">contact</a></li>
                </ul>
          </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i></a>
        </div>


    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>




    <script type="text/javascript">
        function myFunction() {
            var x = document.getElementById("myMenu");
            if (x.className === "menu-main_menu-container") {
                x.className += " responsive";
            } else {
                x.className = "menu-main_menu-container";
        }
    </script>

    </body>

</html>


